@model List<Employee>

@{
    ViewData["Title"] = "All Employees";
}  

<link rel="stylesheet" href="bootstrap.css"/>

<h2>This is Employee Details File</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Gender</th>
      <th>Join Date</th>
      <th>Designation</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var emp in Model)
  {
    <tr>
      <td>@emp.Fullname</td>
      <td>@emp.Sex</td>
      <td>@emp.JoinDate.ToString("MMM dd, yyyy")</td>
      <td>@emp.Designation</td>
      <td>@emp.Department</td>
    </tr>
  }

  </tbody>
</table>